@inherits LayoutComponentBase
@inject NavigationManager Nav

<div class="app-container">
    @*/* --------------------------------------
              0.1a     S I D E B A R
         --------------------------------------
    */ *@
    <div class="sidebar @NavMenuCssClass">
        <div class="logo-details" @onclick="ToggleNavMenu">
            <i class='bx bx-menu'></i>
            <div class="logo-name">APS</div>
        </div>
        <ul class="nav-links">
            <li>
                <NavLink href="/" Match="NavLinkMatch.All">
                    <i class='bx bx-line-chart'></i>
                    <span class="link-name">Dashboard</span>
                </NavLink>
                <ul class="sub-menu">
                    <li><a href="/">ABC Analysis</a></li>
                    <li><a href="#">Dashboard 2</a></li>
                    <li><a href="#">Dashboard 3</a></li>
                </ul>
            </li>
            <li>
                <NavLink href="/forecasting" @onclick="@(() => SetActiveLink("/forecasting"))" class="@(IsActiveLink("/") ? "active" : null)">
                    <i class='bx bx-line-chart'></i>
                    <span class="link-name">Forecasting</span>
                </NavLink>
                <ul class="sub-menu">
                    <li><a href="/statistical">Statistical</a></li>
                    <li class="active"><a href="/collaborative">Collaborative</a></li>
                    <li><a href="/consensus">Consensus</a></li>
                    <li><a href="/sales-plan">Sales Plan</a></li>
                    <li><a href="/budget">Budget</a></li>
                </ul>
            </li>
            <li>
                <NavLink href="/sales-operations" @onclick="@(() => SetActiveLink("/sales-operations"))" class="@(IsActiveLink("/") ? "active" : null)">
                    <i class='bx bxs-brain'></i>
                    <span class="link-name">Sales & Operations</span>
                </NavLink>
            </li>
            <li>
                <NavLink href="/supply-planning" @onclick="@(() => SetActiveLink("/sales-operations"))" class="@(IsActiveLink("/") ? "active" : null)">
                    <i class='bx bxs-grid-alt'></i>
                    <span class="link-name">Supply Planning</span>
                </NavLink>
            </li>
            <li>
                <NavLink href="/material-planning" @onclick="@(() => SetActiveLink("/material-planning"))" class="@(IsActiveLink("/") ? "active" : null)">
                    <i class='bx bxs-grid-alt'></i>
                    <span class="link-name">Material Planning</span>
                </NavLink>
            </li>
            <li>
                <NavLink href="/mill-planning" @onclick="@(() => SetActiveLink("/mill-planning"))" class="@(IsActiveLink("/") ? "active" : null)">
                    <i class='bx bxs-grid-alt'></i>
                    <span class="link-name">Mill Planning</span>
                </NavLink>
            </li>
            <li>
                <NavLink href="/caster-scheduling" @onclick="@(() => SetActiveLink("/caster-scheduling"))" class="@(IsActiveLink("/") ? "active" : null)">
                    <i class='bx bxs-grid-alt'></i>
                    <span class="link-name">Caster Scheduling</span>
                </NavLink>
            </li>
            <li>
                <NavLink href="/inventory-management" @onclick="@(() => SetActiveLink("/inventory-management"))" class="@(IsActiveLink("/") ? "active" : null)">
                    <i class='bx bxs-grid-alt'></i>
                    <span class="link-name">Inventory Management</span>
                </NavLink>
            </li>
        </ul>
    </div>

    @*/* --------------------------------------
              0.1b     C O N T E N T
         --------------------------------------
    */ *@
    <div class="content">

        @*/* --------------------------------------
                  0.1b.2a    header
             --------------------------------------
        */ *@
        <div class="header">
            <button class="header-toggle">File</button>
            <button class="header-toggle">Edit</button>
            <button class="header-toggle">Forecasting Actions</button>
            <button class="header-toggle">Reports</button>
            <button class="header-toggle">Customize</button>
            <button class="header-toggle">Window</button>
            <button class="header-toggle">Help</button>
        </div>

        @*/* --------------------------------------
                  0.1b.2b    main
             --------------------------------------
        */ *@
        <div class="main">

            @*/* --------------------------------------
                  0.1b.2b.3a    panel
                 --------------------------------------
            */ *@
            <div class="panel"></div>

            @*/* --------------------------------------
                  0.1b.2b.3a    main-content
                 --------------------------------------
            */ *@
            <div class="main-content">
                @Body
            </div>
        </div>
    </div>
</div>

@code {
    /* --------------------------------------
           0.1a S I D E B A R
       -------------------------------------- */

    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "close" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


    private string activeLink = "/";

    protected override void OnInitialized()
    {
        activeLink = Nav.ToBaseRelativePath(Nav.Uri);
    }

    private void SetActiveLink(string link)
    {
        activeLink = link;
    }

    private bool IsActiveLink(string link)
    {
        return activeLink == link;
    }

}
